/* ==========================================================================
   BibliU Styling: opinionated defaults
   ========================================================================== */
/* Bibliu Styling */

@import "screen.css";

body,
h4, 
h5, 
h6,
p,
.post-card-excerpt, 
.post-full-content, 
.post-full-content table, 
.site-header-content .author-meta, 
.subscribe-overlay-description,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6 
{
  font-family:  'Poppins', Arial, Helvetica, sans-serif;
}

h1, 
h2, 
h3, 
.post-full-content h1,
.post-full-content h2,
.post-full-content h3
{
    font-family: 'Lora', Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
}

h4, 
h5, 
h6,
.post-full-content h4,
.post-full-content h5,
.post-full-content h6
{
    font-weight: bold;
}

a,
.post-full-content a
{
    color: var(--purple);
}

.post-full-content a {
  box-shadow: var(--purple) 0 -1px 0 inset;
}

.site-footer {
  background: var(--darkblue);
}

.post-card {
  border-radius: 0;
}

.site-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vw 4vw;
  min-height: 200px;
  max-height: 450px;
  text-align: center;
}

.site-header:before, .site-header:after {
  background: none;
}

.site-header {
  background: #fff;
  color: var(--darkgrey);
}

.nav li a {
  color: var(--darkgrey);
}

.post-full-meta-date {
  color: var(--midgrey);
}

.post-full-content blockquote {
  border-left: 3px solid var(--green);
}

.author-card-button:hover {
  border-color: var(--purple);
  color: var(--purple);
  text-decoration: none;
}